<h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li>
                <a href="{{.Title}}">{{.Title}}</a>
                ✅
            </li>
        {{else}}
            <li>
                <a href="{{.Title}}">{{.Title}}</a>
            </li>
        {{end}}
    {{end}}
</ul>

